@{
    ViewData["Transportation"] = "active";
    ViewData["listTax"] = "active";
}
@section Styles{
<style>
    table.dataTable td,
    table.dataTable th {
        font-size: 13px !important;
    }

    .cancelItem {
        text-decoration: line-through;
        text-decoration-color: red;
        color: #b4b4b4;
    }

    .form-control {
        height: 30px !important;
        padding: 5px;
        font-size: 13px !important;
        font-weight: normal;
    }
</style>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="/tax/">ข้อมูลที่อยู่ใบกำกับภาษี</a>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fad fa-list"></i>
                    <span class="caption-subject bold uppercase"> รายการที่อยู่ใบกำกับภาษี</span>
                </div>
                <div class="actions">
                    <div class="form-inline pull-right">
                        <button type="button" class="btn btn-sm red" onclick="setAdd()">เพิ่มข้อมูล</button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">

                    </div>

                    <div class="col-md-6">
                        
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="table-tax">
                    <thead>
                        <tr>
                            <th style="padding-left:15px;">Tax Id</th>
                            <th>ชื่อบริษัท</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr role="row" class="heading">
                            <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" />
                            </th>
                            <th class="filter">
                                <input type="text" class="form-control filterText" id="filterNameTH" />
                            </th>
                            <th class="filter">
                                <input type="text" class="form-control filterText" id="filterNameTH" />
                            </th>
                            <th class="filter"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
<script type="text/javascript">
    (function ($) {
            var oTable = $('#table-tax').DataTable({
            "processing": true,
            "serverSide": true,
            "iDisplayLength": 10,
            "scrollCollapse": false,
            "order": [[1, "desc"]],
            "sAjaxSource": "/Tax/GetTaxDataList",
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "filterNameTH", "value": $("#filterNameTH").val() });
            },
            "fnRowCallback": function (row, aData, index) {
                if (!aData.isActived)
                    $(row).addClass('inactive');

            },
            "oLanguage": {
                "sInfoFiltered": " ",
                "sInfo": "แสดงจำนวน _START_ to _END_ รายการ (ทั้งหมด _TOTAL_ รายการ)",
                "sSearch": "ค้นหา : ",
                "sLengthMenu": 'แสดงจำนวน <select class="form-control">' +
                    '<option value="10">10</option>' +
                    '<option value="20" selected>20</option>' +
                    '<option value="30">30</option>' +
                    '<option value="40">40</option>' +
                    '<option value="50">50</option>' +
                    '<option value="100">100</option>' +
                    '</select> รายการ'
            },
            "columnDefs": [
                { className: "tax-td", targets: 0 },
                { className: "name-td", targets: 1 },
                { className: "phone-td", targets: 2 },
                { className: "action-3-td text-center", targets: 3 }
            ],
            "columns":
                [
                    { "data": "taxId", "orderable": false },
                    { "data": "name" },
                    { "data": "phone", "orderable": false },
                    {
                        "data": "taxId", "orderable": false, "render": function (data, type, row) {
                            var modify =
                                '<a class="btn btn-sm yellow" href="javascript:;" data-title="แก้ไขข้อมูล"  data-toggle="tooltip" data-trigger="hover" onclick=setEdit("' +
                                data + '")><i class="fad fa-pencil-alt"></i></a>';
                            var remove =
                                    '<a class="btn btn-sm red" href="javascript:;" data-title="ลบข้อมูล"  data-toggle="tooltip" data-trigger="hover" onclick=setDisabled("' +
                                data + '")><i class="fad fa-trash-alt"></i></a>';
                            var active =
                                    '<a class="btn btn-sm green-jungle" href="javascript:;" data-title="เปิดใช้งาน"  data-toggle="tooltip" data-trigger="hover" onclick=setActive("' +
                                data + '")><i class="fa fa-check"></i></a>';
                            var inactive =
                                    '<a class="btn btn-sm grey" href="javascript:;" data-title="ปิดใช้งาน"  data-toggle="tooltip" data-trigger="hover" onclick=setInactive("' +
                                data + '")><i class="fa fa-times"></i></a>';

                            if (row.isActived) {
                                return '<div class="row-actions">' + inactive+ remove + modify + '</div>';
                            } else {
                                return '<div class="row-actions">' + active + remove + '</div>';
                            }
                        }
                    }
                ],
            "createdRow": function (row, data, dataIndex) {
                $(row).find('[data-toggle="tooltip"]').tooltip();
            }
        });

            $('#table-tax tfoot tr').appendTo('#table-tax thead');

        $('.filterText').keyup(function () {
            $('#table-tax').dataTable()._fnAjaxUpdate();
        });
    }(jQuery));

    function reloadRow() {
        $("#table-tax").DataTable().ajax.reload();
    }

    function setAdd() {
        var url = '/tax/add';
        var width = 900;
        var height = 620;

        var left = (window.screen.width / 2) - (width / 2);
        var top  = (window.screen.height / 2) - (height / 2);

        var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

        window.open(url, 'AddTax', setting);
    }

    function setEdit(code) {
        var url = '/tax/edit/' + code;
        var width = 900;
        var height = 620;

        var left = (window.screen.width / 2) - (width / 2);
        var top  = (window.screen.height / 2) - (height / 2);

        var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

        window.open(url, 'EditTax', setting);
    }

    function setDisabled(code) {
        $.alert.open('confirm', 'คุณต้องการลบข้อมูลดังกล่าวนี้ ใช่หรือไม่ ?', function (r) {
            if (r) {
                overLayPage();
                $.post("/Tax/Remove", {
                    code: code
                }, function (data) {
                    killOverlayPage();
                    if (data.result == true) {
                        $.alert.open('info', data.resultMessage, function (r) {
                            $('#table-tax').dataTable()._fnAjaxUpdate();
                        });
                    } else {
                        $.alert.open('error', data.resultMessage);
                    }
                });
            }
        });
    }

    function setActive(code) {
        $.alert.open('confirm', 'คุณต้องการเปิดใช้งานข้อมูลดังกล่าวนี้ ใช่หรือไม่ ?', function (r) {
            if (r) {
                overLayPage();
                $.post("/Tax/Active", {
                    code: code
                }, function (data) {
                    killOverlayPage();
                    if (data.result == true) {
                        $.alert.open('info', data.resultMessage, function (r) {
                            $('#table-tax').dataTable()._fnAjaxUpdate();
                        });
                    } else {
                        $.alert.open('error', data.resultMessage);
                    }
                });
            }
        });
    }

    function setInactive(code) {
        $.alert.open('confirm', 'คุณต้องการปิดใช้งานข้อมูลดังกล่าวนี้ ใช่หรือไม่ ?', function (r) {
            if (r) {
                overLayPage();
                $.post("/Tax/Inactive", {
                    code: code
                }, function (data) {
                    killOverlayPage();
                    if (data.result == true) {
                        $.alert.open('info', data.resultMessage, function (r) {
                            $('#table-tax').dataTable()._fnAjaxUpdate();
                        });
                    } else {
                        $.alert.open('error', data.resultMessage);
                    }
                });
            }
        });
    }
</script>
}