.pnd-50-form {
    font-family: 'Angsana New';
    font-size:14pt;
    border: 1px solid #000;
    padding:10px;
}

/*-----------------for top header-----------------------------*/
.topic label {
    font-family: 'Angsana New';
    font-weight: bolder;
    font-size: 15pt;
}

.topic span {
    font-family: 'Angsana New';
    font-style: italic;
    font-size: 15pt;
}

/*-----------------for border-----------------------*/
.outer-wrapper-1 {
    font-family: 'Angsana New';
    border: 1px solid #000;
    padding-top:3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    border-radius: 5px!important;
}

/*-----------------for square box---------------------------*/
.block-square-id {
    border: 1px solid #000;
    width: 200px;
    height: 25px;
    display: inline-block;
    margin-top: 2px;
    text-align:center;
    font-size:16pt;
}
.block-square-blank {
    border: 1px solid #000;
    height: 25px;
    display: inline-block;
    margin-top: 2px;
    text-align:center;
    font-size:16pt;
}
.block-square-check {
    display: inline-block;
    margin-left: 10px;
}
.wrapper-square{
    display: inline-block;
}
/*-----------------for detail (block 1)-----------------------*/
.header-wrapper-1 .header-1 {
    width:100%;
    text-align: center;
    font-size: 21pt;
    font-weight: bold;
    padding: 0;
    display: inline-block;
}

.header-wrapper-1 .header-2 {
    text-align: center;
    font-size: 16.5pt;
    padding: 0;
    font-weight: normal;
    margin-top: -10px;
}
.header-wrapper-1 .header-no
{
    font-size: 14pt;
    padding: 0;
    font-weight: normal;
    position: relative;
    width:100%;
    text-align: right;
    top:-50px
}

/*-----------------for detail (block 2)-----------------------*/
.content-block{
    display: inline-block;
}
.content-block .topic{
    font-size:16pt;
    font-weight: bolder;
    display: inline-block;
}
.content-block .sub-topic{
    font-size:14pt;
    font-weight: bolder;
    display: inline-block;
}
.content-block .detail-1{
    display: inline-block;
}
.content-block .detail-1-line{
    border-bottom: 1px dashed #000;
    height: 22px;
    display: inline-block;
    text-align:left;
    font-size:14pt;
    padding-left:5px;
}
.detail-help {
    font-size: 13pt;
    font-style: italic;
    margin-left: 50px;
    margin-top:-5px;
}
.sub-content .topic {
    display: inline-block;
    font-weight: bolder;
    font-family: 'Angsana New';
    font-size: 15pt;
}
.topic-help {
    font-size: 12pt;
    font-style: italic;
    margin-top: -3px;
}
.sub-content{
    margin-top:-7px;
}

.sub-content span {
    font-size: 14pt;
    padding-left: 10px;
}

.sub-content label {
    font-size: 14pt;
    font-weight: bolder;
}

/*--------------------for detail block 3--------------------*/
.content-break {
    height: 3px;
}
.table-content {
    width: 100%;
    border-collapse: collapse;
}

    .table-content th {
        border-bottom: 1px solid #000;
        font-size:14pt;
        padding:0;
        text-align: center;
        font-weight: bolder;
    }

    .table-content td {
        font-family: 'Angsana New';
        font-size: 14pt;
    }

.font-ang {
    font-family: 'Angsana New';
}

/*--------------------footer---------------------*/
.footer-wrapper {
    font-family: 'Angsana New';
    border: 1px solid #000;
    padding-top:3px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    border-radius: 5px!important;
    display: inline-block;
    height:150px;
}