body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.actions {
    width: 100%;
    padding-top: 20px!important;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

.tool-line {
    margin-top: 20px;
    width: 100%;
    height: 1px;
    border: 0.5px #D3D3D3 solid;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.tools{
    text-align: center;
}

.page-preview {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 13px;
}

.form-wrap {
    padding: 7px;
}

.form-detail {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.header-col-1 {
    width: 200px;
    float: left;
    display: inline-block;
}

.header-col-6 {
    width: 400px;
    float: left;
    display: inline-block;
}

.company-name {
    font-size: 16px;
    font-weight: bold;
}

.company-detail {
    font-size: 13px !important;
}

.topic-name {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.topic-date {
    text-align: right;
}

.clear-float {
    clear: both;
}

.form-topic {
    float: left;
}

.form-detail {
    float: left;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

.form-time {
    float: left;
    border-bottom: 1px dashed #000;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    height: 20px;
}

.table-data tr {
    height: 35px;
}

.table-data td {
    font-size: 13px;
}
