@{
    ViewData["TruckContainer"] = "active";
    ViewData["listJob"] = "active";
    ViewData["listMatchJob"] = "active";
}
@section Styles {
    <style>
        table.dataTable td, table.dataTable th {
            font-size: 13px !important;
        }

        .form-control {
            height: 30px !important;
            padding: 5px;
            font-size: 13px !important;
            font-weight: normal;
        }

        .status-td {
            width: 50px;
            text-align: right;
        }

        .days-td {
            width: 50px;
            text-align: right;
        }

        .table tr td.normal {
            font-weight: bold;
            color: #fff;
            background-color: #81c74e !important;
            text-align: center;
        }

        .table tr:hover td.normal {
            background: #81c74e !important;
            pointer-events: none !important
        }

        .table tr td.late {
            font-weight: bold;
            color: #fff;
            background-color: #d8db6a !important;
            text-align: center;
        }

        .table tr:hover td.late {
            background: #d8db6a !important;
            pointer-events: none !important
        }

        .table tr td.hurry {
            font-weight: bold;
            color: #fff;
            background-color: #d0742f !important;
            text-align: center;
        }

        .table tr:hover td.hurry {
            background: #d0742f !important;
            pointer-events: none !important
        }

        .table tr td.impact {
            font-weight: bold;
            color: #fff;
            background-color: #e30c00 !important;
            text-align: center;
        }

        .table tr:hover td.impact {
            background: #e30c00 !important;
            pointer-events: none !important
        }

    </style>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">ข้อมูลตู้สินค้าในลาน</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/containeryard/match">Match Container</a>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fad fa-list"></i>
                    <span class="caption-subject bold uppercase"> ข้อมูลการรับ/คืนตู้สินค้า [MATCH]</span>
                </div>
                <div class="actions">
                    <div class="form-inline pull-right">
                        <button type="button" class="btn btn-sm red" onclick="setPickup()">รับตู้ (Pickup)</button>
                        <button type="button" class="btn btn-sm blue" onclick="setReturn()">คืนตู้ (Return)</button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-striped table-bordered table-hover" id="table-match">
                            <thead>
                                <tr>
                                    <th style="color:#2f353b!important"> Container No.</th>
                                    <th> Pickup/Return</th>
                                    <th> Size</th>
                                    <th> Agent</th>
                                    <th> License</th>
                                    <th> Transportation</th>
                                    <th> Payment</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr role="row" class="heading">
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" /></th>
                                    <th class="filter filterDropdown">
                                        <select class="form-control">
                                            <option value="PICKUP">รับตู้</option>
                                            <option value="RETURN">คืนตู้</option>
                                        </select>
                                    </th>
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" /></th>
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" /></th>
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameEN" /></th>
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" /></th>
                                    <th class="filter"><input type="text" class="form-control filterText" id="filterNameTH" /></th>
                                    <th class="filter"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            var oTableMatch = $('#table-match').DataTable({
                "processing": true,
                "serverSide": true,
                "iDisplayLength": 10,
                "scrollCollapse": false,
                "order": [[2, "desc"]],
                "sAjaxSource": "/OrderContainer/GetMatchContainerList",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "filterNameTH", "value": $("#filterNameTH").val() });
                    aoData.push({ "name": "filterNameEN", "value": $("#filterNameEN").val() });
                    aoData.push({ "name": "filterNameEN", "value": $("#filterNameEN").val() });
                },
                "fnRowCallback": function (row, aData, index) {
                    if(aData.match_type == 'RETURN'){
                        if(aData.is_exchange){
                            $('td', row).eq(1).html('<span class="label label-sm label-info"> คืนตู้ <i class="fad fa-exchange"><i></span>');
                        }
                        else{
                            $('td', row).eq(1).html('<span class="label label-sm label-info" > คืนตู้ </span>');
                        }
                    }
                    else{
                        if(aData.is_exchange){
                            $('td', row).eq(1).html('<span class="label label-sm label-danger"> รับตู้ <i class="fad fa-exchange"><i></span>');
                        }
                        else{
                            $('td', row).eq(1).html('<span class="label label-sm label-danger" > รับตู้ </span>');
                        }
                    }

                    if(aData.payment_stage == 'A'){
                        $('td', row).eq(6).addClass('pending');
                        $('td', row).eq(6).html('ชำระทันที');
                    }
                    else{
                        $('td', row).eq(6).addClass('reject');
                        $('td', row).eq(6).html('ไม่ต้องชำระ');
                    }
                },
                "oLanguage": {
                    "sInfoFiltered": " ",
                    "sInfo": "แสดงจำนวน _START_ to _END_ รายการ (ทั้งหมด _TOTAL_ รายการ)",
                    "sSearch": "ค้นหา : ",
                    "sLengthMenu": 'แสดงจำนวน <select class="form-control">' +
                            '<option value="10" selected>10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="100">100</option>' +
                            '</select> รายการ'
                },
                "columnDefs": [
                      { className: "container-td font-blue bold", targets: 0 },
                      { className: "type-td", targets: 1 },
                      { className: "size-td text-center", targets: 2 },
                      { className: "agent-td", targets: 3 },
                      { className: "license-td", targets: 4 },
                      { className: "name-td", targets: 5 },
                      { className: "status-td", targets: 6 },
                      { className: "action-full-td text-center", targets: 7 }
                ],
                "columns":
                [
                      { "data": "container_no" },
                      { "data": "issue_type" },
                      { "data": "container_type" },
                      { "data": "agent_name" },
                      { "data": "truck_license" },
                      { "data": "transportation_name" },
                      { "data": "payment_stage" },
                      {
                          "data": "order_code", "orderable": false, "render": function (data, type, row) {
                              var approve = '<a class="btn btn-outline btn-sm dark" href="javascript:;" onclick=setApprove("' + data + '")>ยืนยัน</a>';
                              var edit_pickup = '<a class="btn btn-outline btn-sm  yellow"  href="javascript:;" onclick=editPickup("' + data + '")>แก้ไข</a>';
                              var edit_return = '<a class="btn btn-outline btn-sm  yellow"  href="javascript:;" onclick=editReturn("' + data + '")>แก้ไข</a>';
                              var change = '<a class="btn btn-outline btn-sm  purple" href="javascript:;" onclick=setToDrop("' + data + '")>Drop</a>';
                              var print = '<a class="btn btn-outline btn-sm  blue" href="javascript:;" onclick=setPayment("' + data + '")>ชำระเงิน</a>';

                              if(row.is_exchange)
                              {
                                if(row.match_type == "PICKUP"){
                                    if(row.payment_stage == "A")
                                    {
                                        return '<div class="row-actions">' + edit_pickup + print + "</div>";
                                    }
                                    else{
                                        return '<div class="row-actions">' + edit_pickup + approve + "</div>";
                                    }
                                }
                                else{
                                    if(row.payment_stage == "A")
                                    {
                                        return '<div class="row-actions">' + edit_return + change + print + "</div>";
                                    }
                                    else{
                                        return '<div class="row-actions">' + edit_return + change + approve + "</div>";
                                    }
                                }
                              }
                              else{
                                  if(row.match_type == "PICKUP"){
                                    return '<div class="row-actions">' + edit_pickup + print + "</div>";
                                  }
                                  else{
                                      return '<div class="row-actions">' + edit_return + change + print + "</div>";
                                  }
                              }

                          }
                      }
                ],
                "createdRow": function (row, data, dataIndex) {
                    $(row).find('[data-toggle="tooltip"]').tooltip();
                }
            });

            $('#table-match tfoot tr').appendTo('#table-match thead');

            $('.filterText').keyup(function () {
                $('#table-match').dataTable()._fnAjaxUpdate();
            });
        }(jQuery));

        var popupWin = null;

        function reloadRow() {
            $("#table-match").DataTable().ajax.reload();
        }

        function setReceipt(code){
            var url = '/yardreceipt/addmatchreceipt/' + code;
            var setting = 'width=1180,height=648';

            window.open(url, 'match receipt', setting);
        }

        function setPayment(code){
            //fetch("http://localhost:9001/show?code=" + code).catch(()=>{});

            var url = '/orderpayment/issuematch/' + code;
            var width = 1180;
            var height = 648;

            var left = (window.screen.width / 2) - (width / 2);
            var top  = (window.screen.height / 2) - (height / 2);
            var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

            if (popupWin && !popupWin.closed) {
                popupWin.close();
            }

            popupWin = window.open(url, 'Receipt', setting);
        }

        function setToDrop(code) {
            $.alert.open('confirm', 'คุณต้องการเปลี่ยนประเภทการรับตู้สินค้าดังกล่าวนี้ ใช่หรือไม่ ?', function (r) {
                if (r) {
                    overLayPage();
                    $.post("/OrderContainer/SetToDrop",
                    {
                        code: code
                    }, function (data) {
                        killOverlayPage();
                        if (data.result == true) {
                             $.alert.open('info', data.resultMessage, function (r) {
                                $('#table-match').dataTable()._fnAjaxUpdate();
                            });
                        } else {
                            $.alert.open('error', data.resultMessage);
                        }
                    });
                }
            });
        }

        function setApprove(code) {
            $.alert.open('confirm', 'คุณต้องการยืนยันผลการตรวจรับตู้สินค้าดังกล่าวนี้ ใช่หรือไม่ ?', function (r) {
                if (r) {
                    overLayPage();
                    $.post("/OrderContainer/Approve",
                    {
                        code: code
                    }, function (data) {
                        killOverlayPage();
                        if (data.result == true) {
                             $.alert.open('info', data.resultMessage, function (r) {
                                $('#table-match').dataTable()._fnAjaxUpdate();
                            });
                        } else {
                            $.alert.open('error', data.resultMessage);
                        }
                    });
                }
            });
        }

        function setPickup(){
            var url = '/ordercontainer/issuematchpickup';
            var width = 1100;
            var height = 585;

            var left = (window.screen.width / 2) - (width / 2);
            var top  = (window.screen.height / 2) - (height / 2);
            var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

            if (popupWin && !popupWin.closed) {
                popupWin.close();
            }
            
            popupWin = window.open(url, 'Pickup', setting);
        }

        function setReturn(){
            var url = '/ordercontainer/issuematchreturn';
            var width = 1100;
            var height = 630;

            var left = (window.screen.width / 2) - (width / 2);
            var top  = (window.screen.height / 2) - (height / 2);
            var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

            if (popupWin && !popupWin.closed) {
                popupWin.close();
            }
            
            popupWin = window.open(url, 'Return', setting);
        }

        function editPickup(code){
            var url = '/ordercontainer/editmatchpickup/' + code;
            var width = 1100;
            var height = 590;

            var left = (window.screen.width / 2) - (width / 2);
            var top  = (window.screen.height / 2) - (height / 2);
            var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

            if (popupWin && !popupWin.closed) {
                popupWin.close();
            }

            popupWin = window.open(url, 'EditMatch', setting);
        }

        function editReturn(code){
            var url = '/ordercontainer/editmatchreturn/' + code;
            var width = 1100;
            var height = 635;

            var left = (window.screen.width / 2) - (width / 2);
            var top  = (window.screen.height / 2) - (height / 2);
            var setting = `width=${width},height=${height},top=${top},left=${left},resizable=yes,scrollbars=yes`;

            if (popupWin && !popupWin.closed) {
                popupWin.close();
            }

            popupWin = window.open(url, 'EditMatch', setting);
        }
    </script>
}