<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVA Global Logistics</title>
    <link rel="icon" href="~/images/logo-icon.png" type="image/x-icon" />
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/css/login/bootstrap.min.css" />
    <link href="~/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/login/style.css" />
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/css/login/default.css" />
</head>

<body id="top">
    <div class="page_loader"></div>

    <!-- Login 3 start -->
    <div class="login-3 tab-box">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-md-12 col-pad-0 form-section">
                    <div class="login-inner-form">
                        <div class="details">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-pad-0 bg-img none-992">
                    <div class="informeson">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 3 end -->
    <!-- External JS libraries -->
    <script src="~/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/js/login/popper.min.js"></script>
    <script src="~/js/login/bootstrap.min.js"></script>
    <!-- Custom JS Script -->

</body>

</html>