<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Authentication | AVA Global Logistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="~/css/customer/login/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.min.css">
    <!-- Favicon icon -->
    <link rel="icon" href="~/images/logo-icon.png" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/customer/login/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="~/css/customer/login/default.css">

</head>

<body id="top">
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

    <!-- Login 24 start -->
    <div class="login-24">
        <div class="login-24-inner">
            <div class="container">
                <div class="row login-box">
                    <div class="col-lg-6 bg-color-15 pad-0 none-992 bg-img"></div>
                    <div class="col-lg-6 pad-0 form-info">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login 24 end -->

    <!-- External JS libraries -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Custom JS Script -->
</body>

</html>