    body {
        background: #fff;
    }

    label {
        font-size: 13px;
    }

    .page {
        padding: 0.5cm;
        font: 10pt "Tahoma", Times, serif;
        z-index: 1000;
    }

    #job-th,
    .job-td {
        display: none;
    }

    .form-wrap {
        padding: 7px;
    }

    .form-detail {
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }

    .header-col-1 {
        width: 150px;
        float: left;
        display: inline-block;
    }

    .header-col-6 {
        width: 400px;
        float: left;
        display: inline-block;
    }

    #logo {
        width: 30px !important;
    }

    .header-col-3 {
        float: right;
        text-align: center;
        display: inline-block
    }

    .company-name {
        font-size: 16px;
        font-weight: bold;
    }

    .company-detail {
        font-size: 13px !important;
    }

    .clear-float {
        clear: both;
    }

    .form-topic {
        float: left;
    }

    .form-detail {
        float: left;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
    }

    .form-time {
        float: left;
        border-bottom: 1px dashed #000;
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
        height: 20px;
    }

    .table-invoice {
        width: 100%;
        border-collapse: collapse;
    }

    .table-invoice th {
        font-size: 11px;
        border: 1px solid #000 !important;
        text-align: center !important;
        padding: 7px;
    }

    .table-invoice td {
        font-size: 11px;
        border: 1px solid #000 !important;
        padding: 5px;
    }

    .topic-customer-name,
    .topic-customer-tax {
        font-weight: bold;
        font-size: 13px;
    }

    .topic-customer-tax {
        margin-top: 10px;
    }

    .topic-customer-address {
        font-size: 13px;
        width: 350px;
        height: 40px;
    }

    .topic-attention {
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
    }

    .topic-date,
    .topic-invoice {
        font-weight: bold;
        display: inline-block;
        width: 120px;
        text-align: right;
        padding-right: 30px;
    }

    .content-topic {
        font-weight: bold;
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    .table th {
        font-size: 11px;
        border: 1px solid #000 !important;
        text-align: center !important;
    }

    .table td {
        font-size: 11px;
        border: 1px solid #000 !important;
    }

    td.col-index {
        text-align: center !important;
    }

    td.col-center {
        text-align: center !important;
        font-size: 10px !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
        overflow: hidden;
    }

    td.currency {
        text-align: right !important;
        font-size: 10px !important;
    }

    td.text-currency {
        text-align: center !important;
        font-weight: bold;
        background: #D3D3D3
    }

    .footer-doc {
        width: 100%;
        text-align: center;
        font-size: 9pt !important;
        margin-top: 15px;
    }

    .stamp {
        text-align: center;
        position: relative;
        top: -35px !important;
        left: -30px !important;
    }

    .stamp-img {
        display: inline-block;
        opacity: 0.8;
    }

    @@media all {
        .page-break {
            display: none;
        }
    }

    @@media print {

        html,
        body {
            height: 99%;
        }
    }

    @@media print {
        .page-break {
            display: block;
            page-break-before: always;
        }
    }