@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot?ibb2fa');
    src: url('icomoon.eot?ibb2fa#iefix') format('embedded-opentype'), url('icomoon.ttf?ibb2fa') format('truetype'), url('icomoon.woff?ibb2fa') format('woff'), url('icomoon.svg?ibb2fa#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-driver:before {
    content: "\e906";
}

.icon-address-book:before {
    content: "\e900";
}

.icon-container-lift:before {
    content: "\e901";
}

.icon-container-truck:before {
    content: "\e902";
}

.icon-empty-truck:before {
    content: "\e903";
}

.icon-industry:before {
    content: "\e904";
}

.icon-truck-load:before {
    content: "\e905";
}

.icon-pencil2:before {
    content: "\e907";
}

.icon-image:before {
    content: "\e90d";
}

.icon-paste:before {
    content: "\e92d";
}

.icon-floppy-disk:before {
    content: "\e962";
}

.icon-hour-glass:before {
    content: "\e979";
}

.icon-spinner11:before {
    content: "\e984";
}

.icon-point-right:before {
    content: "\ea04";
}
