@{
    ViewData["History"] = "active";
    ViewData["OpenHistory"] = "open";
    ViewData["listDrop"] = "active";
}
@section Styles {
    <style>
        table.dataTable td, table.dataTable th {
            font-size: 13px !important;
        }

        .form-control {
            height: 30px !important;
            padding: 5px;
            font-size: 13px !important;
            font-weight: normal;
        }

        .status-td {
            width: 50px;
            text-align: center;
        }
    </style>
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">ประวัติการทำรายการ</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="/historycontainer/drop">DROP</a>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fad fa-list"></i>
                    <span class="caption-subject bold uppercase"> ประวัติการทำรายการตู้สินค้า</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="form-inline pull-right">
                            <input type="text" class="form-control"
                                   value="@DateTime.Now.AddDays(-3).ToString(" yyyy/MM/dd")" id="filterDateRangeStart" />
                            <span style="display:inline-block;" class="daterange-to-text">to</span>

                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" value="@DateTime.Now.ToString("yyyy/MM/dd")"
                                       id="filterDateRangeEnd">
                                <span class="input-group-btn">
                                    <button class="btn green" onclick="reloadRow()" type="button">ค้นหา</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="table-order">
                    <thead>
                        <tr>
                            <th style="padding-left:15px;">Order</th>
                            <th> Container</th>
                            <th> Size</th>
                            <th> License</th>
                            <th> Transportation</th>
                            <th> Stage</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr role="row" class="heading">
                            <th class="filter"><input type="text" class="form-control filterText" id="filterCode" autocomplete="off" /></th>
                            <th class="filter"><input type="text" class="form-control filterText" id="filterContainerno" autocomplete="off" /></th>
                            <th class="filter">@Html.DropDownList("ContainerSizeCode", null, "-----เลือก-----", new { @Class = "form-control filterDropdown" })</th>
                            <th class="filter"><input type="text" class="form-control filterText" id="filterLicense" autocomplete="off" /></th>
                            <th class="filter"><input type="text" class="form-control filterText" id="filterName" autocomplete="off" /></th>
                            <th class="filter"><input type="text" class="form-control filterText" id="filterStatus" autocomplete="off" /></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        (function ($) {
            var oTable = $('#table-order').DataTable({
                "processing": true,
                "serverSide": true,
                "iDisplayLength": 10,
                "scrollCollapse": false,
                "order": [[1, "desc"]],
                "sAjaxSource": "/HistoryContainer/GetDropContainerList",
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "filterDateRangeStart", "value": $("#filterDateRangeStart").val() });
                    aoData.push({ "name": "filterDateRangeEnd", "value": $("#filterDateRangeEnd").val() });
                    aoData.push({ "name": "filterCode", "value": $("#filterCode").val() });
                    aoData.push({ "name": "filterContainerNo", "value": $("#filterContainerno").val() });
                    aoData.push({ "name": "filterContainerSize", "value": $("#ContainerSizeCode").val() });
                    aoData.push({ "name": "filterLicense", "value": $("#filterLicense").val() });
                    aoData.push({ "name": "filterName", "value": $("#filterName").val() });
                    aoData.push({ "name": "filterStatus", "value": $("#filterStatus").val() });
                },
                "fnRowCallback": function (row, aData, index) {
                    if(aData.match_type == 'RETURN'){
                        $('td', row).eq(5).html('<i class="fa fa-angle-left font-sm font-blue-steel"></i><span class="font-blue font-xs bold" > RETURN </span>');
                    }
                    else{
                        $('td', row).eq(5).html('<span class="font-yellow font-xs bold" > PICKUP </span><i class="fa fa-angle-right font-sm font-yellow-lemon"></i>');
                    }
                },
                "oLanguage": {
                    "sInfoFiltered": " ",
                    "sInfo": "แสดงจำนวน _START_ to _END_ รายการ (ทั้งหมด _TOTAL_ รายการ)",
                    "sSearch": "ค้นหา : ",
                    "sLengthMenu": 'แสดงจำนวน <select class="form-control">' +
                            '<option value="10" selected>10</option>' +
                            '<option value="20">20</option>' +
                            '<option value="30">30</option>' +
                            '<option value="40">40</option>' +
                            '<option value="50">50</option>' +
                            '<option value="100">100</option>' +
                            '</select> รายการ'
                },
                "columnDefs": [
                      { className: "container-td text-center", targets: 0 },
                      { className: "container-td", targets: 1 },
                      { className: "license-td", targets: 2 },
                      { className: "license-td", targets: 3 },
                      { className: "name-td", targets: 4 },
                      { className: "status-td", targets: 5 }
                ],
                "columns":
                [
                      { "data": "order_code" },
                      { "data": "container_no" },
                      { "data": "container_size" },
                      { "data": "truck_license" },
                      { "data": "transportation_name" },
                      { "data": "match_type" }
                ],
                "createdRow": function (row, data, dataIndex) {
                    $(row).find('[data-toggle="tooltip"]').tooltip();
                }
            });

            $('#table-order tfoot tr').appendTo('#table-order thead');

            $('.filterText').keyup(function () {
                $('#table-order').dataTable()._fnAjaxUpdate();
            });

            $('#filterDateRangeStart').datetimepicker({
                format: 'Y/m/d',
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: jQuery('#filterDateRangeEnd').val() ? jQuery('#filterDateRangeEnd').val() : false
                    })
                },
                timepicker: false
            });

            $('#filterDateRangeEnd').datetimepicker({
                format: 'Y/m/d',

                onShow: function (ct) {
                    this.setOptions({
                        minDate: jQuery('#filterDateRangeStart').val() ? jQuery('#filterDateRangeStart').val() : false
                    })
                },
                timepicker: false
            });

        }(jQuery));

        function reloadRow() {
            $("#table-order").DataTable().ajax.reload();
        }
    </script>
}